
.shape-shifter {
  animation-name: shapeshift;
  animation-duration: 7s;
  animation-iteration-count: infinite;  
}

.bouncing-ball {
    border-radius: 90%;
    height: 20px;
    width: 20px;
    animation-name: bounceingball;
    animation-duration: 7s;
    animation-direction: alternate;
    animation-iteration-count: 10;  
}

.slider-ball {
    height: 30px;
    width: 30px;
    animation-name: sliderball;
    animation-duration: 7s;
    animation-iteration-count: infinite;   
}
@keyframes shapeshift {
    0% {border-radius: 90%; height: 40px;width: 40px;}
    16% {border-radius: 50%;height: 40px;width: 80px;}
    32% {border-radius: 0%; height: 40px;width: 80px;}
    48% {border-radius: 0%; height: 40px;width: 40px;}
    64% {border-radius: 0%; height: 40px;width: 80px;}
    80% {border-radius: 50%;height: 40px;width: 80px;}
    96% {border-radius: 90%; height: 40px;width: 40px;}
}

@keyframes bounceingball {
     0% {margin-top:5px;margin-left:0px;}
    25% {margin-top:130px;margin-left:30px;}
    50% {margin-top:50px;margin-left:60px;}
    75% {margin-top:130px;margin-left:90px;}
    100% {margin-top:90px;margin-left:120px;}
}

@keyframes sliderball {
    0% {margin-top:10px;margin-left:110px;}
    5% {height:50px;}
    10% {margin-top:110px;margin-left:105px;height:30px;}
    30% {width:50px;}
    35% {margin-top:110px;margin-left:10px;width:30px;}
    65%{height:30px;}
    70%{ margin-top: 10px;margin-left: 10px; height:30px;}
    95% {width:50px}
    100% {margin-top:10px;margin-left:90px;width:30px;}
}
